html {
    background-color: #2e3830;
    height: 100%;
}

body {
    font-family: 'Cardo', serif;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    color: #c53211;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
}

.navbar {
    font-size: 20px;
    background-color: #2e3830;
    border: none;
}

.navbar-nav > li {
    min-width: 120px;
    text-align: center;
}

.navbar-logo {
    position: inline-block;
}

.page-header {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}

.home-details {
    width: 100%;
    height: 100%;
}

.myfooter {
    position: absolute;
    width: 100%;
    background-color: #2e3830;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    float: left;
    clear: none;  
}

/* For Computers*/
@media screen and (min-width : 769px) {
    h1 {
        font-size: 80px;
    }

    h2 {
        font-size: 50px;
    }

    p {
        color: #2e3830;
        font-size: 16px;
    }

    .page-details {
        background: linear-gradient(#e6dbc9, #e6dbc9, #e6dbc9);
        text-align: center;
        clear: none;
    }

    .about-details {
        padding-top: 100px;
    }

    .profile-body {
        margin-left: 25%;
        margin-right: 25%;
        text-align: left;
        padding-top: 25px;
        padding-bottom: 75px;
    }

    .profile-pic {
        vertical-align: middle;
        width: 15%;
        height: 15%;
        border-radius: 50%;
    }
}

/* For Phones */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        color: #2e3830;
        font-size: 12px;
    }

    .page-details {
        background: linear-gradient(#e6dbc9, #e6dbc9, #e6dbc9);
        width: 100%;
        height: 92%;
        float: left;
        clear: none;
    }
}

